
<div class="jumbotron center">
	<h1>About the Project</h1>
	<p>The guys at <%= link_to "One Month", "http://onemonth.com"%> made a sweet tutorial that teaches us how to create web applications using Ruby on Rails. We're going to try it out. This site will be our ongoing project that tracks our progression into the world of Web Development. Check it out!</p>
</div>